<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.peterjurkovic.dril"
    android:versionCode="30"
    android:versionName="3.0.0rc2"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
 
    <application 
        android:name="sk.peterjurkovic.dril.AppController"
        android:theme="@style/DrilActionBarTheme" 
        android:icon="@drawable/laucher_icon" 
        android:allowBackup="true"
        android:label="@string/app_name">
        
        <activity 
            android:name=".v2.activities.DashboardActivity"
            android:launchMode="singleTask"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity android:name=".v2.activities.BookListActivity"
            	  android:parentActivityName=".v2.activities.DashboardActivity" />
        <activity android:name=".v2.activities.AddBookActivity"
            	  android:parentActivityName=".v2.activities.BookListActivity" />
        <activity android:name=".v2.activities.EditBookActivity"
            	  android:parentActivityName=".v2.activities.BookListActivity" />
        <activity android:name=".v2.activities.LectureListActivity"
            	  android:parentActivityName=".v2.activities.BookListActivity"/>
        <activity android:name=".v2.activities.EditLectureActivity"
            	  android:parentActivityName=".v2.activities.LectureListActivity" />
        <activity android:name=".v2.activities.AddLectureActivity"
            	  android:parentActivityName=".v2.activities.LectureListActivity" />  
        <activity android:name=".v2.activities.WordActivity" 
            	  android:parentActivityName=".v2.activities.LectureListActivity" />
        <activity android:name=".v2.activities.EditWordActivity" 
            	  android:parentActivityName=".v2.activities.WordActivity" />
        <activity android:name=".v2.activities.AddWordActivity" 
            	  android:parentActivityName=".v2.activities.WordActivity" />
        <activity android:name=".v2.activities.PreferencesActivity"
            	  android:parentActivityName=".v2.activities.DashboardActivity" />
        <activity android:name=".v2.activities.DrilActivity"
            	  android:windowSoftInputMode="adjustPan"
            	  android:launchMode="singleTask"
            	  android:parentActivityName=".v2.activities.DashboardActivity" />
        
        <activity android:name=".v2.activities.ImportMenuActivity" 
            	  android:parentActivityName=".v2.activities.LectureListActivity" />
        <activity android:name=".v2.activities.ImportFileActivity" 
            	  android:parentActivityName=".v2.activities.ImportMenuActivity" />
        <activity android:name=".v2.activities.ImportWebActivity" 
            	  android:parentActivityName=".v2.activities.ImportMenuActivity" />
         <activity android:name=".v2.activities.FeedbackActivity" 
            	  android:parentActivityName=".v2.activities.DashboardActivity" />
         <activity android:name=".v2.activities.HelpActivity" 
            	  android:parentActivityName=".v2.activities.DashboardActivity" />
         <activity android:name=".v2.activities.StatisticActivity"
        		  android:parentActivityName=".v2.activities.DashboardActivity" />
         <activity android:name=".v2.activities.BackupRestoreActivity"
        		  android:parentActivityName=".v2.activities.DashboardActivity" />
         
         <activity android:name=".v2.activities.LoginActivity"
        		  android:parentActivityName=".v2.activities.DashboardActivity" />
         
         <activity android:name=".v2.activities.RegistrationActivity"
        		  android:parentActivityName=".v2.activities.LoginActivity" />
          
          
        <activity android:name=".v2.activities.ChooseLanguageActivity" />
         
        <activity android:name=".v2.activities.DrilPreferenceActivity"
            	  android:parentActivityName=".v2.activities.DashboardActivity" />    
         
         <activity android:name=".v2.activities.FacebookShare" 
             		android:parentActivityName=".v2.activities.DashboardActivity"/>
         <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

</manifest>